.App {
  text-align: center;
}



@font-face {
  font-family: 'as-virgil';
  src: local('as-virgil'), url(./fonts//Virgil.ttf) format('truetype');
}
.write {
  margin: 0;
  font-family: as-virgil;
  font-size: 0.8em;
}




/* App.css */
@media print {
  .no-print {
    display: none !important;
  }
  .print-adjust {
    grid-column-start: 3 !important;
  }  
  .print-only {
    display: block !important;
  }
}

@media screen {
  .print-only {
    display: none !important;
  }
}
