html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.App {
  /* display: flex;
  flex-direction: column;
  flex-grow: 1; */
  text-align: center;

}

footer.footer {
  margin-top: auto;
}


@font-face {
  font-family: 'as-virgil';
  src: local('as-virgil'), url(./fonts//Virgil.ttf) format('truetype');
}
.write {
  margin: 0;
  font-family: as-virgil;
  font-size: 0.8em;
}




/* App.css */
@media print {
  .no-print {
    display: none !important;
  }
  .print-adjust {
    grid-column-start: 3 !important;
  }  
  .print-only {
    display: block !important;
  }
  /* .check_details {
    width: 100% !important;
    box-sizing: border-box;
  }   */
}

@media screen {
  .print-only {
    display: none !important;
  }
}
